.project_container{
  padding-top: 100px;
}

.list_header{
  width: 1000px;
  margin-left: 15%;
}

.projectlist{
  background-color: white;
  width: 1000px;
  border: none;
  align-items: center;
  margin-left: 15%;
}

table tr td.td2:last-child{
  word-break: break-word;
}

.add_user{
  margin-bottom: 50px;
  padding-right: 20px;
}

.line{
  border: none;
  border-bottom: 5px solid lightgray;
}

.project_input{
  border: none;
  border-bottom: 2px solid white;
  width: 20%;
  outline: none;
  transition: all .5s ease-in-out;
  background: #00000000;
}

.project_input:hover{
  width: 100%;
}

.disabled_project_btn {
  margin-top: 10px;
  border: none;
  background-color: #00000030;
  border: 2px solid #00000000;
  color: #E2784D;
  border-radius: 7px;
  cursor: pointer;
}

.project_btn {
  margin-top: 10px;
  border: none;
  background-color: white;
  border: 2px solid #00000000;
  color: #E2784D;
  border-radius: 7px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.project_btn:hover{
  border: 2px solid white;
  color: white;
  background-color: #E2784D;
}

::placeholder{
  color: lightgrey;
}

.users_btn{
  margin-top: 10px;
  border: none;
  background-color: #E2784D;
  color: white;
  border-radius: 7px;
  font-size: 13px;
  float: right;
  cursor: pointer;
}

.main_btn{
  font-size: 13px;
  float: right;
  font-weight: 600;
  margin-right: 50px;
  border: 2px solid #00000000;
  background-color: #E2784D;
  color: white;
  border-radius: 5px;
  padding: 0 3px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.main_btn:hover{
  border: 2px solid #E2784D;
  background-color: #00000000;
  color: #E2784D;
}

.users_input{
  border: none;
  outline: none;
  background: #00000000;
  width: 95%;
}

.user:hover .delete_btn{
  visibility: visible;
}

.project_input::placeholder{
  color: white
}

.delete_btn{
  margin-top: 3px;
  margin-right: 2px;
  border: none;
  background-color: #E2784D;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  float: right;
  visibility: hidden;
  max-height: 17px;
  cursor: pointer;
}

.user{
  border: none;
  border-bottom: 1px solid lightgray;
}

.users_line{
  border: none;
  border-right: 2px solid lightgrey;
}

.not_login{
  margin-left: 40%;
  font-size: 25px;
  font-weight: 700;
  color: grey;
}

.time_btn{
  background-color:#E2784D;
  font-size: 10px;
  border: 2px solid #00000000;
  border-radius: 5px;
  color: white;
  margin: 2px;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.time_btn:hover{
  background-color: #00000000;
  border: 2px solid #E2784D;
  color: #E2784D;
}

.time_input{
  border: none;
  outline: none;
  border-bottom: 2px solid #E2784D;
  background-color: #00000000;
}




.projects_header{
  background-color: #E2784D;
  height: 170px;
  padding-top: 25px;
}

.filter{
  float: right;
  display: block;
  margin-right: 20px;
  color: white;
}




.project{
  height: 100px;
  font-size: 20px;
}

.project_table{
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
}

.table_project{
  cursor: pointer;
  border: 1px solid lightgray;
  border-left: 5px solid lightgray;
  border-right: 5px solid lightgray;
  margin-top: 10px;
  background-color: #F2F2F2;
  transition: all .15s ease-in-out;
  height: 30px;
  padding: 5px;
}

.table_project:hover{
  background-color: lightgray;
}

.project_name{
  float: left;
  font-size: 30px;
  color: gray;
  max-width: 400px;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  word-break: break-word;
}

.opened_project_name{
  float: left;
  font-size: 30px;
  color: gray;
}

.table_desc{
  color: gray;
  max-width: 400px;
  padding: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  border: 1px solid lightgray;
}

.table_active{
  color: gray;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid lightgray;
}

.project_delete{
  margin: 10px;
  margin-left: 15px;
  position: absolute;
}

tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}



.project_background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.project_main{
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 15px;
  margin: 2% 5%;
  border: 1px solid lightgray;
  min-width: 1000px;
}

.project_top{
  width: 100%;
  background-color: #EBEBEB;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid lightgray;
  height: 7%;
  display: flex;
}


.project_header{
  font-size: 20px;
}

.project_mid{
  width: 100%;
  border-collapse: collapse;
  height: 86%;
}

.project_mid_left{
  width: 60%;
  vertical-align: top;
}

.project_desc{
  color: gray;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.project_term{
  padding: 10px;
}

.project_info{
  display: flex;
}

.project_users{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  width: 40%;
}

.project_mid_right{
  width: 40%;
  border-left: 1px solid lightgray;
  padding: 10px;
  vertical-align: top;
}

.project_comments{
  height: 95%;
  overflow-y: scroll;
}

.comment{
  margin-bottom: 5px;
  background-color: #EBEBEB;
  border-radius: 7px;
  padding: 5px;
  display: inline-block;
  border: 1px solid lightgray;
  margin-right: 10px;
}

.comment_user{
  color: #E2784D;
  font-weight: 600;
}

.comment_time{
  margin-left: 10px;
  font-size: 10px;
  color: gray;
  margin-top: 3px;
}

.new_comment{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 95%;
  border-bottom: 2px solid #E2784D;
}

.comment_input{
  border: none;
  outline: none;
  background: #00000000;
  width: calc(100% - 40px)
}

.comment_btn{
  border: none;
  background-color: #E2784D;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  width: 40px;
  cursor: pointer;
}


.project_bottom{
  width: 100%;
  background-color: #EBEBEB;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid lightgray;
  height: 7%;
  display: flex;
}

.select_date{
  display: flex;
  border-bottom: 2px solid #E2784D;
  margin-top: 5px;
}

.datepicker{
  border: none;
  outline: none;
  background: #00000000;
  width: calc(100% - 63px)
}

.project_close{
  margin-left: auto;
  background-color: #00000000;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #E2784D;
}

.project_close:hover{
  color: gray;
}

.close_btn{
  border: none;
  background-color: lightgray;
  color: gray;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.project_status{
  font-size: 19px;
  color: gray;
}

.status_opened{
  font-size: 19px;
  color: gray;
}



.add_user_popup_bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  z-index: 200;
}

.add_user_popup{
  text-align: left;
  width: 20%;
  height: 10%;
  background-color: white;
  margin: 20% 40%;
  border-radius: 10px;
}

.new_user{
  display: flex;
  margin-top: 20px;
  padding-left: 5px;
}

.suggestions{
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 5px;
}

.suggestion{
  display: flex;
  background-color: rgba(0,0,0,0.2);
  color: gray;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.suggestion:hover{
  background-color: lightgray;
}

.add_user_btn{
  font-size: 10px;
  background-color: #E2784D;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 3px;
  cursor: pointer;
}

.add_user_btn:hover{
  background-color: gray;
}

.table_head{
  color: gray;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.pagination {
  padding-left: -50px;
}

.pagination > li {
  display: inline-block;
  list-style: none;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 3px 10px;
  border: 3px solid #E2784D;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  margin-left: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.pagination > li.disabled > a {
  color: black;
  background-color: #fff;
  border: 3px solid gray;
}

.pagination > li.disabled:hover > a {
  color: black;
  background-color: #fff;
  border: 3px solid gray;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #E2784D;
  border: 3px solid white;
}

.pagination > li > a:hover {
  background-color:  #E2784D;
  color: white;
}