.navbar{
  display: flex;
  height: 100px;
  justify-content: center;
  background-color: white;
  width: 100%;
  border: none;
  border-bottom: 5px solid #E2784D;
  align-items: center;
  margin: 0px;
  position: fixed;
}

.nav_header {
  margin-left: 50px;
  margin-right: auto;
  font-size: 40px;
  color:#E2784D;
  font-weight: 700;
  cursor: default;
}

.authbar{
  display: flex;
  justify-content: center;
}

.nav_auth{
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  color:#E2784D;
  cursor: pointer;
}

.nav_registration {
  margin-right: 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #E2784D;
  cursor: pointer;
  border-radius: 7px;
  transition: all .15s ease-in-out;
  border: 2px solid #00000000;
  width: 120px;
}

.nav_registration:hover {
  border: 2px solid #E2784D;
  background-color: #00000000;
  color: #E2784D;
}

.nav_login {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color:#E2784D;
  cursor: pointer;
  border-radius: 7px;
  transition: all .15s ease-in-out;
  border: 2px solid #00000000;
  width: 120px;
}

.nav_login:hover {
  border: 2px solid #E2784D;
  background-color: #00000000;
  color: #E2784D;
}

.nav_ver_line {
  margin-right: 10px;
  font-size: 20px;
  color:lightgray;
}

.nav_log_out{
  font-size: 11px;
  float: right;
  font-weight: 600;
  margin-right: 50px;
  border: 2px solid #00000000;
  background-color: #E2784D;
  color: white;
  border-radius: 5px;
  padding: 0 3px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.nav_log_out:hover{
  border: 2px solid #E2784D;
  background-color: #00000000;
  color: #E2784D;
}